.info-container {
  padding-top: 40px;
}

.info-page {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}

.info-page h1 {
  font-size: 28px;
}

.table-responsive {
  height: 60vh;
  overflow-y: scroll;
}